.mylk-banner{
	width: 200px;
	height: 180px;
	position: relative;
	background: #FFFFFF;
}

.mylk-banner {
  text-align: center;
  margin: 24px;
  font-family: 'Chewy', cursive;
  font-size: 40px;
}

.text {
  margin-top: 24px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
	text-align: center;
	font-family: Gill Sans / Gill Sans MT, sans-serif !important;
}

.button-donate {
    background: #FF4F24; /* this is an orange */
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  	background: #FF4F24;
    display:flex;
    justify-content:center;
    align-items:center;
}

.button-donate:hover {
    background: #CC3F1C; /* this is an faded orange */
}

