.mylk{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 50px;
	background-color: #3F51B5;
	color: #fff;
	opacity: 0.6;
}

.mylk:hover{
	opacity: 1.0;
}


.mylk h4{
	margin: 10px 10px;
	font-family: Helvetica;
}