#mylk-banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 50px;
	background-color: #3F51B5;
	color: #fff;
	opacity: 0.6;
	display: none;
	z-index: 99999;
}

#mylk-banner:hover {
	opacity: 1.0;
}

#mylk-banner h4 {
	margin: 10px 10px;
	font-family: Helvetica;
}

#mylk-banner button, #mylk-banner a {
	float: right;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


#mylk-banner button:hover, #mylk-banner a:hover {
  background: #99C4FF;
  text-decoration: none;
}

